@tailwind base;
  @tailwind components;
  @tailwind utilities;

.Text_Stock{
  color: transparent !important;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: wheat;
}
.Text_StockOne{
  color: transparent !important;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #fb923c;
}


:root {
    --swiper-theme-color: #fb923c !important;
    /* --swiper-navigation-size: 24px !important; */
}


.swiper-button-prev, .swiper-button-next{
  color: #fb923c !important;
  font-size: 24px !important;
  background-color:white !important;
  padding-left: 20px !important;
  padding-right: 20px !important;

}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Custom bullet size */
.swiper-pagination.swiper-pagination-bullets {
  /* Example of custom bullet size */
  width: 15px;
  height: 15px;

}

/* Custom bullet styles */
.swiper-pagination.swiper-pagination-bullets .swiper-pagination-bullet {
  /* Example of custom bullet size */
  width: 15px;
  height: 15px;
  /* Example of custom bullet color */
  background-color: #fb923c;
}
